<a href="https://colab.research.google.com/github/IkeLyons/HW1_LogisticRegression/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

The problem that I am going to try to solve using logistic regression is the problem of trying to predict whether or not a student will be accepted to an engineering program. There are a number of different factors that can contribute to a student being accepted and I am planning on looking at factors like gender, GPA, number of internships, and others. Logistic regression is the best choice for solving this problem because a student will either be accepted to the program or not, and the output of logistic regression is binary. Thus, becuase our problem calls for a binary answer and logistic regression provides a binary answer we use it.

# Task 2

Start by importing the data:

In [21]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [22]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [23]:
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json

In [24]:
! kaggle datasets download tejashvi14/engineering-placements-prediction

Downloading engineering-placements-prediction.zip to /content
  0% 0.00/10.0k [00:00<?, ?B/s]
100% 10.0k/10.0k [00:00<00:00, 24.4MB/s]

In [25]:
! unzip engineering-placements-prediction.zip

Archive:  engineering-placements-prediction.zip
  inflating: collegePlace.csv

Begin Exploratory Data Analysis:

In [26]:
import pandas as pd
import tensorflow as tf
dataset = pd.read_csv('collegePlace.csv', encoding='utf-8')
dataset.head()

   Age  Gender  ... HistoryOfBacklogs  PlacedOrNot
0   22    Male  ...                 1            1
1   21  Female  ...                 1            1
2   22  Female  ...                 0            1
3   21    Male  ...                 1            1
4   22    Male  ...                 0            1

[5 rows x 8 columns]

In [27]:
dataset.shape

(2966, 8)

In [28]:
dataset.isnull().sum()

Age                  0
Gender               0
Stream               0
Internships          0
CGPA                 0
Hostel               0
HistoryOfBacklogs    0
PlacedOrNot          0
dtype: int64